.card-wrapper {
    margin: 20px auto;

    @media (max-width: 450px) {
        &>.jp-card-container {
            transform: scale(.8) !important;
            transform-origin: center !important;
        }
    }
}