{% extends 'check_in/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'check_in/scss/fr.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block header_left %}
    <a href="{% url 'check_in:preauth' %}" class="btn btn-link"><span class="material-icons-outlined">arrow_back_ios</span></a>
    {{ block.super }}
{% endblock header_left %}

{% block content %}
    {{ block.super }}
    <form method="post" id="form-fr" autocomplete="off">
        {% csrf_token %}
        <div class="row page-header">
            <div class="col-lg-12">
                Take a selfie
            </div>
        </div>
        <div class="row page-subheader">
            <div class="col-lg-12">
                <p class="mb-0">Please make sure:</p>
                <ol class="mb-0 pl-3">
                    <li>Environment is under optimal lighting.</li>
                    <li>Remove mask, hat, or other accessories covering your face.</li>
                    <li>Hold your phone at eye level.</li>
                </ol>
            </div>
        </div>
        <div class="row page-content">
            <div class="col-lg-12 d-flex justify-content-center">
                {% render_field form.fr_file %}
                <div class="default-container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12 text-d-neutral">
                                We are commited to protecting your privacy. By proceeding, you agree to our <a href="{{ tnc_link }}" target="_blank" class="new-window-link">Terms &amp; Conditions</a>.
                                View our Global Privacy Statement <a href="{{ privacy_link }}" target="_blank" class="new-window-link">here</a>.
                        </div>
                    </div>
                </div>
                <div class="webcam-container" style="display: none;">
                    <div class="row">
                        <div class="col-lg-12">
                            <video id="vid-webcam" autoplay width="427" height="320"/>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-primary btn-side" id="btn-capture">Capture</button>
                        </div>
                    </div>
                </div>
                <div class="preview-container" style="display: none;">
                    <img id="img-preview" width="427" height="320">
                </div>
            </div>
        </div>
        <div class="row page-footer">
            <div class="col-lg-12">
                <div class="row default-container">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary btn-block btn-webcam">Next</button>
                    </div>
                </div>
                <div class="row preview-container" style="display: none;">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-outline-primary btn-side btn-webcam">Retake</button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary btn-side" id="btn-next">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
{% endblock wrapper %}

{% block lib_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/compressorjs/compressor.min.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'check_in/js/fr.js' %}"></script>
{% endblock static_js %}
