{% extends 'check_in/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'check_in/scss/preauth.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block header_left %}
    {% if request.session.check_in.login|length > 1 %}
        <a href="{% url 'check_in:reservation' %}" class="btn btn-link" {% if request.session.check_in.auto_login %} id="btn-skip-login" {% endif %}><span class="material-icons-outlined">arrow_back_ios</span></a>
    {% else %}
        <a href="{% url 'check_in:login' %}" class="btn btn-link" {% if request.session.check_in.auto_login %} id="btn-skip-login" {% endif %}><span class="material-icons-outlined">arrow_back_ios</span></a>
    {% endif %}
    {{ block.super }}
{% endblock header_left %}

{% block content %}
    {{ block.super }}
    <form method="post" id="form-preauth" autocomplete="off">
        {% csrf_token %}
        <div class="row page-header">
            <div class="col-12">
                Enter payment details for deposit
            </div>
        </div>
        <div class="row page-subheader">
            <div class="col-12">
                We need your credit/debit card details to charge a refundable deposit upon check-in.
            </div>
        </div>
        <div class="row page-content">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="border-top border-bottom py-2">
                            <div class="text-d-neutral text-center">Deposit amount (refundable)</div>
                            <div class="text-header-dark text-center">S$ 300</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-wrapper"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="md-form">
                            {{ form.card_no.label_tag }}
                            {% if form.is_bound and form.card_no.errors %}
                                {% render_field form.card_no class="form-control is-invalid" placeholder="**** **** **** ****" %}
                                {{ form.card_no.label_tag }}
                                {% for error in form.card_no.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.card_no class="form-control" placeholder="**** **** **** ****" %}
                                {{ form.card_no.label_tag }}
                                {% if form.card_no.help_text %}
                                    <small class="form-text text-muted">{{ form.card_no.help_text }}</small>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="md-form">
                            {{ form.card_username.label_tag }}
                            {% if form.is_bound and form.card_username.errors %}
                                {% render_field form.card_username class="form-control is-invalid text-transform-uppercase" placeholder="John Smith" %}
                                {{ form.card_username.label_tag }}
                                {% for error in form.card_username.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.card_username class="form-control text-transform-uppercase" placeholder="John Smith" %}
                                {{ form.card_username.label_tag }}
                                {% if form.card_username.help_text %}
                                    <small class="form-text text-muted">{{ form.card_username.help_text }}</small>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            {{ form.card_expiry.label_tag }}
                            {% if form.is_bound and form.card_expiry.errors %}
                                {% render_field form.card_expiry class="form-control is-invalid" placeholder="MM/YYYY" %}
                                {{ form.card_expiry.label_tag }}
                                {% for error in form.card_expiry.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.card_expiry class="form-control" placeholder="MM/YYYY" %}
                                {{ form.card_expiry.label_tag }}
                                {% if form.card_expiry.help_text %}
                                    <small class="form-text text-muted">{{ form.card_expiry.help_text }}</small>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            {{ form.card_code.label_tag }}
                            {% if form.is_bound and form.card_code.errors %}
                                {% render_field form.card_code class="form-control is-invalid" placeholder="123" %}
                                {{ form.card_code.label_tag }}
                                {% for error in form.card_code.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.card_code class="form-control" placeholder="123" %}
                                {{ form.card_code.label_tag }}
                                {% if form.card_code.help_text %}
                                    <small class="form-text text-muted">{{ form.card_code.help_text }}</small>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-footer">
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block m-0">Confirm</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
    <!-- Error Modal -->
    {% for error in form.non_field_errors %}
        <div class="modal fade auto-show" id="error-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title mx-auto">Invalid Input</div>
                    </div>
                    <div class="modal-body">
                        {{ error|linebreaks }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock wrapper %}

{% block lib_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/card/jquery.card.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'check_in/js/preauth.js' %}"></script>
{% endblock static_js %}
