{% extends 'check_in/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'check_in/scss/reservation.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block header_left %}
    <a href="{% url 'check_in:login' %}" class="btn btn-link"><span class="material-icons-outlined">arrow_back_ios</span></a>
    {{ block.super }}
{% endblock header_left %}

{% block content %}
    {{ block.super }}
    <form method="post" id="form-reservation" autocomplete="off">
        {% csrf_token %}
        <div class="row page-header">
            <div class="col-12">
                Select Reservation
            </div>
        </div>
        <div class="row page-subheader">
            <div class="col-12">
                Select a reservation to proceed with the check-in.<br/>(Images shown are for references only.)
            </div>
        </div>
        <div class="row page-content">
            <div class="col-12">
                {% for reservation in reservations %}
                    <div class="thumbnail-container" id="thumbnail-container-{{ forloop.counter0 }}">
                        <label class="label-thumbnail" style="background-image: url('{{ reservation.roomImage }}');">
                            <div class="label-container">
                                <div class="label-details">
                                    <div class="room-type text-c-light">{{ reservation.roomName }}</div>
                                    <div class="room-pax text-d-neutral">{{ reservation.adults }} Adults - {{ reservation.children }} Children</div>
                                </div>
                            </div>
                            <input type="radio" name="reservation_no" value="{{ reservation.pmsNo }}" id="id_reservation_no_{{ forloop.counter0 }}" hidden>
                        </label>
                        <div class="thumbnail-details">
                            <div class="text-left">
                                <div class="text-c-dark">Check-in Date</div>
                                <div class="text-a-dark">{{ reservation.formattedArrivalDate }}</div>
                            </div>
                            <div class="text-right">
                                <div class="text-c-dark">Check-out Date</div>
                                <div class="text-a-dark">{{ reservation.formattedDepartureDate }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
{% endblock wrapper %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'check_in/js/reservation.js' %}"></script>
{% endblock static_js %}
